$orange: #FFFF00;
$boldColor : #F26922;
$primaryColor:#1AA3E3;
$SelectedColor: #11549A;
$NavbarTextColor:#FFFFFF;
$TableTitleBlackColor: #d0d0d0;
$TableBlackColor: #ececec;
$placeholder: #33333357;

$black: #333333;
$gray-hover: #E9E9E9;
$dark-charcoal: #333333;
$warning-red: #FF0000;
$light-orange: #FF7A00;
$navy-blue: #005177;
$dark-grey: #5f5f5f;